version: "3.7"

services:
  web-greeter-server:
    container_name: web-greeter-server
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./.env:/app/.env
      - ./messages.json:/app/messages.json
    env_file:
      - .env
    ports:
      - 127.0.0.1:3000:3000
